.contenedorMain{
    width: calc(100% - 300px);
    padding: 2rem;
}

.contenedorHome{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "turnos pacientes pacientes"
        "herramientas herramientas alertas";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, calc(50vh - 4rem));
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    gap: 2rem;
}

.contenedorPanel{
    background-color: var(--blanco);
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.contenedorPanel h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.alertasHome{
    grid-area: alertas;
}