.contenedorNavbarPrincipal{
    width: 300px;
    background-color: var(--blanco);
}

.navbarPrincipal{
    background-color: var(--blanco);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 1.5rem;
}

.logoNavbarPrincipal{
    width: 100%;
    text-align: start;
    padding-inline: 1.5rem;
}

.logoNavbarPrincipal img{
    width: 2rem;
}

.contenedorBotonesNavbar{
    margin-top: 1.5rem;
    width: 100%;
    background-color: var(--blanco);
}

.contenedorBotonesNavbar ul{
    padding-inline: 0.1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorBotonesNavbar a{
    width: 100%;
    text-decoration: none;
}

.linkNavbar li{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--blanco);
    transition: all .1s ease;
}

.linkNavbar li span{
    color: var(--color-fuente-claro);
}

.linkNavbar li svg path{
    fill: var(--color-fuente-claro);
}

.linkNavbar:not(.linkNavbarActive):hover li{
    background-color: var(--menta-hover);
}

.linkNavbarActive li span{
    color: var(--menta);
    font-weight: 700;
}

.linkNavbarActive li svg path{
    fill: var(--menta);
}